<footer class="footer mt-auto py-3">
    <div class="bg-dark text-white fixed">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <p class="text-muted small " style="text-align: left; ">Realizado por: DANIEL BRITO -WILLIAN PANZA<br>Curso: M5A
                </p>
            </div>
            <div class="col-xs-12 col-md-6">
                <h6 class="text-muted lead">Tecnológico del Azuay</h6>

                <a href="https://www.tecazuay.edu.ec/main/index.php"><img src="../../../../assets/imagen/logo.png" width="35" height="30" class="center" alt=""></a>

                <p class="text-muted small" style="text-align: right;">Tendencias Actuales de Programación<br> Mgtr. Molina Mesias Diego Mauricio</p>

                <div class="col-xs-12 col-ml-6" style="text-align: center;">
                    <div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>