<img src="../../../assets/imagen/registrar.jpg" class="img-fluid" style="position: absolute; right: 0; top: 0; z-index: -100; opacity: 0.60;">
<div>
    <div>
        <br>
        <div [hidden]="submitted" style="width: 300px;" class="container card">
            <br>
            <hr>
            <h3 style="text-align: center;">Registrar Provedor</h3>
            <hr>
            <div style="text-align: center;">
                <img src="../../../assets/imagen/newUser.png" class="img-fluid form-group" />
            </div>
            <hr>
            <form (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" required [(ngModel)]="proveedor.id" name="id">
                </div>
                <div class="form-group">
                    <label for="ruc">RUC</label>
                    <input type="text" class="form-control" id="ruc" required [(ngModel)]="proveedor.ruc" name="ruc">
                </div>
                <div class="form-group">
                    <label for="nombre">Nombre del proveedor.</label>
                    <input type="text" class="form-control" id="nombre" required [(ngModel)]="proveedor.nombre" name="nombre">
                </div>
                <div class="form-group">
                    <label for="fechaEntrega">Fecha de entrega.</label>
                    <input type="datetime-local" class="form-control" id="fechaEntrega" required [(ngModel)]="proveedor.fechaEntrega" name="fechaEntrega">
                </div>
                <button type="submit" class="btn btn-success container">Guardar.</button>
                <br><br>
            </form>
            <button type="submit" class="btn btn-warning container" (click)="abrir()">Continuar, si existe el proveedor.</button>
            <br>
        </div>
    </div>

    <div [hidden]="!submitted" class="container card" style="text-align: center;">
        <h4>Guardado correctamente !</h4>
        <hr>
        <div>
            <button class="btn btn-success" (click)="newProduct()">Agregar nuevo proveedor ...</button>

        </div>
        <br>
        <div>
            <button class="btn btn-warning " (click)="abrir()">Registrar producto ...</button>
        </div>
    </div>
</div>